<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <style>
        * {
            -webkit-box-sizing: border-box;
        }

        body {
            color: #848484;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
        }

        .container {
            width: 800px;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        table.header-table{
            border: none;
        }

        table th {
            text-align: left;
            padding: 5px;
        }

        table td {
            padding: 5px;
        }

        table.application {
            border-top: 1px solid #4381e7;
            border-bottom: 1px solid #4381e7;
            margin-bottom: 50px;
        }

        .application th {
            width: 125px;
        }

        .plate-table{
            color: black;
        }

        .plate-table .table-head {
            border-bottom: 3px solid #4381e7;
            padding-bottom: 5px;
            color: #848484;
        }
        .table-head th{
            padding-bottom: 10px;
        }

        .plate-table .table-head {
            border-bottom: 2px solid #4381e7;
            color: #958484;
        }
        .plate-table tbody tr:first-of-type td{
            padding-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Hello World</h1>
</div>
</body>
</html>
